*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to top, rgba(4, 88, 255, 0.1), rgba(44, 8, 85, 0.8));
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#titulo{
    text-align: center;
    font-weight: 600px;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: column;
}

button{
    padding: 10px;
    margin-left: 20px;
    color: rgb(63, 4, 63);
    background-color: rgb(253, 248, 252);
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

button:hover{
    color: rgb(253, 248, 252);
    background-color: rgb(63, 4, 63);
}

.sorteio-field{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(253, 234, 234);
    width: 50vw;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.dados-field{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 150px;
    background-color: rgb(253, 234, 234);
}

.dados{
    width: 100px;
    height: 100px;
    background-color: rgb(146, 53, 53);
    margin: 10px;
    border-radius: 4px;
}

.dados-result{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    margin-left: 50px;
    border-radius: 8px;
    width: 25%;
    height: 60%;
}