*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to top, rgba(56, 59, 65, 0.1), rgba(4,3,4, 0.8));
    background-repeat: no-repeat;
    height: 100vh;
}

#titulo{

}
main{
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: column;
}

.dados-field{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 200px;
    background-color: rgb(187, 184, 184);
}

.dados{
    width: 150px;
    height: 150px;
    background-color: rgb(218, 119, 119);
    margin: 10px;
    border-radius: 4px;
}