*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primaria: rgb(253, 248, 252);
}
body{
    background: linear-gradient(to top, rgba(27, 1, 32, 0.1), rgba(59, 1, 57, 0.8));
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#titulo{
    text-align: center;
    font-weight: 600px;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: column;
}

button{
    padding: 10px;
    margin-left: 20px;
    color: rgb(63, 4, 63);
    background-color: rgb(253, 248, 252);
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

button:hover{
    color: rgb(253, 248, 252);
    background-color: rgb(41, 6, 41);
}

.sorteio-field{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(253, 234, 234);
    width: 50vw;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.dados-field{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 150px;
    background-color: rgb(131, 24, 24);
}

.dados{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: rgb(46, 21, 21);
    border-radius: 4px;
    width: 60%;
}

.lado-img{
    width: 80px;
    height: 80px;
    margin: 20px;
}

.dados-result{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(253, 248, 252);
    margin-left: 50px;
    border: 1px solid black;
    border-radius: 8px;
    width: 25%;
    height: 60%;
}

.dados-result h4{
    margin-top: 10px;
}